#wrapper{width: 1024px;margin: auto;padding-top: 70px;}
.field, .actions {
    margin-bottom: 15px;
}
.field label {
    float: left;
    text-align: left;
    padding-right: 10px;
    margin: 5px 0px 5px 0px;
    width: 100px;
}

.clear{clear: both;}

#addnew div.bootstrap-select{width: 290px;}
#objtablewrapper{margin-top: 40px;}
#objtable tr:hover{cursor: pointer;}
table .row_selected td {
    background-color: #9FAFD1;
}
#btnsadd{padding-top: 40px;width: 600px;margin: auto;}
#btnsadd .btn{margin-left: 60px;}
legend.border {
    width:inherit; /* Or auto */
    padding:0 5px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    margin-left: 10px;
}
fieldset.border {
    padding: 0 20px 20px 20px;
    border: 1px solid #C0C0C0;
    margin: 10px;
}

textarea#description{
    width: 600px;
}
#newinfobit textarea{width: 270px;height: 100px;}
#newinfobit .idealforms-field-textarea{margin-left: 170px;}
#newinfobit .error{width: 110px;}
#addnew .infobit textarea{width: 270px;height: 100px;}
#addnew .infobit .idealforms-field-textarea{margin-left: 170px;}
#addnew .infobit .error{width: 110px;}
#addnew .infobit{margin-bottom: 20px;}
#addnew .infobit img{margin-left: 100px;}
#addinfobitwrap{width: 400px;margin: auto;float: none;}
#addinfobitwrap .btn{margin-left: 30px;}
#addinfobit{width: 150px;}
#cancelinfobit{display: none;}
#relationshipbuttons{
    width: 100%;
}
#relationshipbuttons td{
    width: 50%;
}
#relationshipbuttons td div{
    margin: auto;float: none;width: 120px;
}
#newinfobitwell{display: none;}
#newrelationwell{display: none;}
#cancelrelation{display: none;}

#addinfobitwrap button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(#FFFFFF, #DDDDDD) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #AAAAAA #AAAAAA #919191;
    border-image: none;
    border-radius: 3.01px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #444444;
    cursor: pointer;
    padding: 0.55em 1.5em;
    width: 150px;
}

#newrelation div.bootstrap-select{margin-bottom: 5px;}
#newrelation td{width: 40%;margin-right: 30px;}
#relations td{width: 40%;margin-right: 30px;padding-top: 5px;}
#relations td{width: 900px;}
#relations .bootstrap-select{margin-bottom: 0;}
#relations {margin-bottom: 30px;}
.buttonstylewrap button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(#FFFFFF, #DDDDDD) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #AAAAAA #AAAAAA #919191;
    border-image: none;
    border-radius: 3.01px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #444444;
    cursor: pointer;
    padding: 0.55em 1.5em;
    width: 150px;
}

