#wrapper{width: 1024px;margin: auto;padding-top: 70px;}
.field, .actions {
    margin-bottom: 15px;
}
.field label {
    float: left;
    text-align: left;
    padding-right: 10px;
    margin: 5px 0px 5px 0px;
    width: 100px;
}

.clear{clear: both;}

#addnew div.bootstrap-select{width: 290px;}
#objtablewrapper{margin-top: 40px;}
#objtable tr:hover{cursor: pointer;}
table .row_selected td {
    background-color: #9FAFD1;
}
#btnsadd{padding-top: 40px;width: 600px;margin: auto;}
#btnsadd .btn{margin-left: 60px;}
